section.assortment-section
  .wrapper
    .assortment-section__inner
      
      h2.assortment-section__title
        |Ассортимент торговых точек 
        span Good Vape
      .assortment-section__title-info.title-info
        |В продаже насчитывается более 3500 наименований товаров.	
      .assortment-section__masonry
        .assortment-section__masonry-box
          ul
            li
              .assortment-section__masonry-title Однорозовые сигареты
              .assortment-section__masonry-text
                |Вейп-устройства без возможности дозаправки жидкости и с одноразовой батареей.
              .assortment-section__masonry-image
                img(src="images/assortment-img-1.png" loading="lazy" alt="assortment" width="382" height="117").d-block
            li
              .assortment-section__masonry-title POD-системы
              .assortment-section__masonry-text
                |Небольшие устройства, состоящие из аккумуляторного блока и картриджа, который выполняет роль резервуара для жидкости и одновременно испарительной камеры.
              .assortment-section__masonry-image
                img(src="images/assortment-img-2.png" loading="lazy" alt="assortment" width="349" height="98").d-block
            li
              .assortment-section__masonry-title Батарейные моды/ механические моды
              .assortment-section__masonry-text
                |Один из видов аккумуляторного блока электронной сигареты, оснащённый дополнительными опциями и интерфейсами. 
                |Конструкция такого источника питания кроме аккумулятора включает дисплей и управляющую плату, с помощью которой можно настраивать подачу мощности и режимы работы устройства.
              .assortment-section__masonry-image
                img(src="images/assortment-img-3.png" loading="lazy" alt="assortment" width="140" height="168").d-block
          ul
            li
              .assortment-section__masonry-title Кальянная продукция
              .assortment-section__masonry-text
                |Группа товаров, представленная кальянами, комплектующими
                br
                |и аксессуарами к ним.
              .assortment-section__masonry-image
                img(src="images/assortment-img-4.png" loading="lazy" alt="assortment" width="212" height="328").d-block
        .assortment-section__masonry-box
          ul
            li
              .assortment-section__masonry-title Жидкости
              .assortment-section__masonry-text
                |Основная составляющая любого электронного испарителя. Без жидкости даже продвинутый гаджет становится просто красивым аксессуаром.
              .assortment-section__masonry-image
                img(src="images/assortment-img-5.png" loading="lazy" alt="assortment" width="93" height="249").d-block
            li
              .assortment-section__masonry-title Комплектующие и аксессуары
              .assortment-section__masonry-text
                |В данной группе товаров представлены запчасти, без которых е-сигарета не сможет полноценно функционировать: аккумуляторы, зарядные стройства, сменные атомайзеры, 
                |а также расходные материалы (вата, готовые коилы и очистительные средства для них, силиконовые ринги и др.)
              .assortment-section__masonry-image
                img(src="images/assortment-img-6.png" loading="lazy" alt="assortment" width="129" height="223").d-block
            
      .assortment-section__masonry-helper-info
        |Обеспечиваются поставки товара от поставщиков с необходимой документацией и акцизами в соответствии с законодательством РФ.