section.city-section
  .wrapper
    .city-section__inner
      h2.city-section__title(class="wow fadeInLeft" data-wow-delay="0.3s")
        |От продажи бытовой техники до собственной 
        br
        |федеральной сети в 
        span 94 торговую точку
      .city-section__title-info.title-info(class="wow fadeInDown" data-wow-delay="0.3s")
          |Миссия компании заключается в том, чтобы помочь клиентам отказаться
          br
          |от стандартных способов курения и перейти на использование альтернативных способов доставки никотина, 
          |что наносит меньший вред собственному здоровью и здоровью окружающих.
      .city-section__map-title(class="wow fadeInLeft" data-wow-delay="0.3s")
        |К концу 2021 году по всей России открыты магазины 
        span в 26-ти городах
      .city-section__map-info(class="wow fadeInLeft" data-wow-delay="0.3s")
        |С 1994 года Я находился в поиске ниши для получения стабильного дохода, работал в компании по продаже бытовой техники. 
        |После продавал аксессуары для мобильных телефонов и к 2015 году развил собственную сеть в 10 торговых точек. 
        |В том же году принял решение изменить формат магазинов на продажу вейпов в Омске, Новосибирске и Тюмени
      .city-section__founder-name(class="wow fadeInDown" data-wow-delay="0.3s")
        div Юрий Балановский
        span основатель компании Good Vape
      .city-section__info(class="wow fadeIn" data-wow-delay="0.3s")
        ul
          li
            .city-section__info-container
              div Конец 2018 года
              div 10 торговых точек
          li
            .city-section__info-container
              div Конец 2019 года
              div 20 точек
          li
            .city-section__info-container
              div Конец 2020 года
              div 30 точек
            .city-section__info-helper
              |(на рост продаж также 
              br
              |повлияла пандемия)
          li
            .city-section__info-container
              div Конец 2021 года
              div 41 точка