mixin connection(index)
  .connection
    .connection__container
      if index
        .connection__num
          a(href="tel:89059449779").connection__num-link 8 (905) 944-97-79
        .connection__description
          a(href="tel:89059449779").connection__description-link
            span позвоните сейчас 
            br
            span чтобы не ждать звонка
      else
        .connection__num
          a(href="tel:89059449779").connection__num-link 8 (905) 944-97-79
        .connection__description
          a(href="#" data-remodal-target="modal-form-call").connection__description-link
            span
             |заказать звонок
    .connection__icon
      +icon(name="connection-phone").d-block