section.demand-section
  .wrapper
    .demand-section__inner

      h2.demand-section__title
        span Спрос и популярность 
        |вейпов на мировом и российском рынках

      .demand-section__title-info.title-info
        |Отказ от традиционного способа курения и ужесточение запретов на дымление в общественных местах приводит 
        |к стабильно растущему спросу на электронную продукцию.
  
      .demand-section__slider
        .demand-section__slider-inner.js-demand-parent
          .demand-section__slider-arrow
            .demand-section__slider-arrow-prev.arrow.js-arrow-demand
              +icon(name="arrow").d-block
            .demand-section__slider-arrow-next.arrow.js-arrow-demand
              +icon(name="arrow").d-block
          .demand-section__slider-list
            .demand-section__slider-list-item.active.js-demand-item
              .demand-slide.demand-slide--1
                .demand-slide__container
                  .demand-slide__title Мировой рынок
                  .demand-slide__info
                    div
                      |Согласно прогнозам Frost & Sullivan, реализация вейпов в период с 2019 по 2024 гг. 
                      |вырастет до 25% в год. В то же время продажа традиционных товаров для парения вырастет только на 5,2%. 
                      |В этот же период количество вейперов может увеличиться с 4,2 до 9,3%. 
                      |В 2019 году объём мирового рынка электронной продукции для парения составляет 6,7 млрд долларов.
                    div
                      |ВОЗ прогнозирует, что к 2030 году продажи вейпов вырастут в 17 раз. Количество любителей использовать 
                      |продукцию для парения может увеличиваться ещё быстрее. Согласно прогнозам исследовательской 
                      br
                      |фирмы CFRA, спрос на традиционные товары для курения будет падать ежегодно на 3%. В целом по всему миру более 
                      |1 млрд любителей парения и 
                      br
                      |их численность будет только расти.
            .demand-section__slider-list-item.js-demand-item
              .demand-slide.demand-slide--2
                .demand-slide__container
                  .demand-slide__title Российский рынок
                  .demand-slide__info
                    div
                      |Еще в 2015 году Россия вошла в число семи стран, на которые приходится 75% мирового рынка вейпинга, 
                      |говорится в исследовании компании EY, опубликованном весной 2016 года.
                    div
                      |В России объём вейпового рынка составляет 10%, что исчисляется в 500 млн долларов. Соотношение между 
                      |электронными вейпами и системами нагревания — 20% и 80% соответственно. По всей стране вейпы используют 
                      |более 3 млн человек. В период за 2018-2022 гг. их количество выросло на 0,7 млн человек.

      .demand-section__slider-info
        div
          |Руководители венчурных компаний Кремниевой долины также работают в данной сфере. Подборка историй из Businessweek подтверждает, 
          |что Дуглас Тейтельбаум (основатель Napster) и Шон Паркер (бывший президент Facebook), учредители Homewood Capital, 
          |занимают важные роли в индустрии инновационных технологий для парения.

      .demand-section__container
        .demand-section__btn
          .btn
            button(type="submit" data-remodal-target="modal-form-main")
              span Узнать подробности рынка
        .demand-section__btn-info.btn-info
            div
              |Узнайте больше подробностей о рынке товаров для парения из презентации франшизы
