.feedback
  form(data-feedback-form).feedback__form
    .feedback__description=title
    .feedback__container
      .feedback__input
        .input
          .input__icon
            img(src='images/input-phone.png' alt="phone" width="13" height="18")
          input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="+7 (___) ___ ____").input__field
      .feedback__input
        .input
          .input__icon
            img(src='images/input-email.png' alt="email" width="16" height="13")
          input(type="email" name="email" placeholder="bestpartner@weld-expert.com").input__field
      .feedback__input
        .input
          .input__icon
            img(src='images/input-user.png' alt="kitchen" width="16" height="16")
          input(type="text" name="name" placeholder="Михаил Калинин").input__field
      input(type="text" name="section-name" value="Открытая" hidden)
      input(type="text" name="section-name-text" value="title" hidden)
      input(type="text" name="section-btn-text" value="Получить информацию" hidden)
      .feedback__button
        button.btn(type="submit")=button_label
    .feedback__agree
      .feedback__agree-text
        | Я подтверждаю, что ознакомлен и даю согласие на обработку 
        | персональных данных на условиях и для целей, 
        | определяемых 
        a(href="#" data-remodal-target="privacy").agree-link Политикой конфиденциальности
