section.finance-section
  .wrapper
    .finance-section__inner
      h2.finance-section__title
        |Финансовые вложения на 
        span открытие вейп-шопа
      .finance-section__title-info.title-info
        |Представлен инвестиционный план, подкреплённый практикой запуска
        br
        |82 франчайзинговых точек, что поможет избежать непредвиденных трат.
      .finance-section__info
        .finance-info
          .finance-info__list
            .finance-info__list-item
              .finance-info__list-item-container
                .finance-info__name Паушальный взнос
                .finance-info__value 490 тыс. 
                  span.font-rub &#97
            .finance-info__list-item.js-finance-parent
              .finance-info__list-item-container
                .finance-info__name.finance-info__name--active.js-finance-click
                  .finance-info__name-icon
                    +icon(name="icon-plus").d-block.close
                    +icon(name="icon-minus").d-block.open
                  .finance-info__name-box
                    |Инвестиции на запуск 
                    div (без паушального взноса)
                .finance-info__value от 1 млн. 
                  span.font-rub &#97
              .finance-info__toggle-info.js-finance-content
                ul
                  li
                    div Регистрация юр. лица
                    div 0,8 тыс. 
                      span.font-rub &#97
                  li
                    div
                      |Аренда помещения 
                      br
                      |(за первый и последний месяц)
                    div 120 тыс. 
                      span.font-rub &#97
                  li
                    div Ремонт
                    div 30 тыс. 
                      span.font-rub &#97
                  li
                    div Мебель/офисная техника
                    div 100 тыс. 
                      span.font-rub &#97
                  li
                    div Торговое оборудование/остров "
                    div 200 тыс. 
                      span.font-rub &#97
                  li
                    div
                      |Маркетинг, включая 
                      br
                      |вывеску и брендовую одежду
                    div 50 тыс. 
                      span.font-rub &#97
                  li
                    div Закуп товара
                    div 500 тыс. 
                      span.font-rub &#97
            .finance-info__list-item
              .finance-info__list-item-container
                .finance-info__name
                  .finance-info__name-box
                    |Инвестиции на запуск 
                    div (с учетом паушального взноса)"
                .finance-info__value от 1,49 млн. 
                  span.font-rub &#97
          .finance-info__btn-container
            .finance-info__btn
              .btn
                button(type="submit" data-remodal-target="modal-form-main")
                  span Скачать финмодель
            .finance-info__btn-info.btn-info
              div
                |Получите финмодель с расчётом инвестиций в городе запуска точки	
          .finance-info__helper
            |Сумма инвестиционных расходов может корректироваться в зависимости от региона запуска и экономических изменений в стране.	
