mixin footer(index)
  footer.footer
    .wrapper
      .footer__row
        .footer__col
          .footer__logo
            +icon(name="logo-main").d-block
          .footer__social
            +social()
          .footer__legal
            a(href="#" data-remodal-target="privacy").footer__link Политика конфиденциальности
        .footer__col.footer__col--middle
          .footer__text ESCOSHOP ®, 2020-
            span(data-current-year)
            |г.
          .footer__text
            div ИП Корноухов Дмитрий Ринатович
            |ИНН 165129443513
          .footer__country
            .country
              .country__logo
                +icon(name="arms").d-block
              .country__label Россия, Республика Татарстан, 
                br
                |Нижнекамск
        .footer__col
          .footer__phone
            +connection(index)
          .footer__f5
            a(href="https://xn--5-7sbamtgf4aex7b0b.xn--p1ai/" target="_blank" aria-label="f5").f5
              .f5__logo
                img(src="images/f5.svg" loading="lazy" alt="f5" width="28" height="26").d-block
              .f5__label Упаковка и продвижение <br /> франшиз: «Франчайзинг5»
