mixin header(index)
  header.header
    .wrapper
      .header__inner
        .header__logo.d-block
          +icon(name="logo-main").d-block
          .header__description
            |За последние 3 года компания открыла 69 новую 
            br
            |торговую точку, что позволило расширить сеть в 4 раза

        .header__connection
          +connection(index)
