.remodal(data-remodal-id="modal-form-leave" data-remodal-options="modifier: modal-scrollable, hashTracking:false")
  .remodal__feedback
    .remodal__feedback-close(data-remodal-action="close" title="Закрыть")
      +icon(name="icon-close").svg.remodal__feedback__icon
    .form-modal.form-modal--leave
      form.form-modal__feedback(data-feedback-form)
        .form-modal__info-title
          |Уже уходите ? 
          span
            |Не упустите возможность стать 
            br
            |франчайзинговым партнером 
            br
            |федеральной сети вейп-шопов Good Vape
        .form-modal__feedback-container
          .form-modal__feedback-input
            .input
              .input__icon
                +icon(name="input-phone").d-block
              input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="+7 (___) ___ ____").input__field
          .form-modal__feedback-input
            .input
              .input__icon
                +icon(name="input-user").d-block
              input(type="text" name="name" placeholder="Иванов Иван").input__field
          .form-modal__feedback-input
            .input
              .input__icon
                +icon(name="input-email").d-block
              input(type="email" name="email" placeholder="bestpartner@goodvape").input__field
          .form-modal__button
            .btn
              button(type="submit")
                span Присоединиться к франшизе
          input(type="text" name="section-name" value="Открытая" hidden)
          input(type="text" name="section-name-text" value="Уже уходите Не упустите возможность стать франчайзинговым партнером федеральной сети вейп-шопов Good Vape? " hidden)
          input(type="text" name="section-btn-text" value="Присоединиться к франшизе" hidden)
          .form-modal__agree
            .form-modal__agree-checkbox
              input(name="checkbox" type="checkbox" checked="checked" disabled).feedback-agree__checkbox
            .form-modal__agree-text
              |Я подтверждаю, что ознакомлен и даю согласие на обработку персональных данных на условиях и для целей, определяемых 
              a(href="#" data-remodal-target="privacy").agree-link Политикой конфиденциальности