section.model-section
  .model-section__image
    .wrapper
      .model-section__inner
        h2.model-section__title(class="wow fadeInDown" data-wow-delay="0")
          |Бизнес-модель успешно работающей сети 
          br
          |в  
          span 26-ти городах  России
        .model-section__title-info.title-info(class="wow fadeIn" data-wow-delay="0.3s")
          |Отрегулированные поставки товаров из других стран с реализацией как ходовой, так и эксклюзивной продукции, которой нет у конкурентов
        .model-section__product-title(class="wow fadeIn" data-wow-delay="0.3s")
          |По франшизе предлагается открытие розничного магазина по продаже жидкостей и аксессуаров к продукции для парения
        .model-section__product(class="wow fadeIn" data-wow-delay="0.3s")
          ul
            li Одноразовые устройства
            li Устройства для парения
            li Комплектующие для устройств
            li Жидкости для вейпов
          .model-section__product-helper-info
            |В сети одновременно представлены товары как премиум-сегмента, так средней и бюджетной категории.
        .model-section__statistic
          .model-statistic
            .model-statistic__container
              .model-statistic__head
                .model-statistic__head-title(class="wow fadeInRight" data-wow-delay="0.3s")
                  div ЦЕЛЕВАЯ АУДИТОРИЯ
                  span Возраст: от 18 до 45
                .model-statistic__head-gender(class="wow fadeInLeft" data-wow-delay="0.3s")
                  ul
                    li Девушки
                    li 36,4 %
                  ul
                    li Мужчины
                    li 63,6%
              .model-statistic__info
                div(class="wow fadeInUp" data-wow-delay="0.3s")
                  |Молодёжь, которая решила избавиться от вредной зависимости, или просто любит запах дыма от вейпов. 
                  |Для целевой аудитории важна имиджевая составляющая парения, а негативные последствия люди готовы минимизировать, поэтому выбирают вейп-продукцию.
        .model-section__format
          .model-section__format-title(class="wow fadeInLeft" data-wow-delay="0.3s")
            |По бизнес-модели предлагается 
            span 4 формата 
            |реализации франшизы
          ul
            li
              .model-format(class="wow fadeInLeft" data-wow-delay="0.3s")
                .model-format_container

                  .model-format__title Остров или корнер в ТЦ
                  .model-format__info
                    |Ремонт помещения не требуется. Дизайн-макет «островка», изготовление мебели и оборудования, доставка и монтаж осуществляются по требованиям торгового центра.
                  .model-format__square
                    div
                      |Площадь: 4-10 м²
            li
              .model-format(class="wow fadeInRight" data-wow-delay="0.3s")
                .model-format_container

                  .model-format__title Торговый павильон
                  .model-format__info
                    |Располагается возле места для посадки и высадки пассажиров городского маршрутного транспорта
                  .model-format__square
                    div
                      |Площадь: 10-20 м²
            li
              .model-format(class="wow fadeInRight" data-wow-delay="0.3s")
                .model-format_container

                  .model-format__title Павильон в ТЦ
                  .model-format__info
                    |Предусмотрено наличие отдельной
                    br
                    |торговой площади и клиентской зоны.
                  .model-format__square
                    div
                      |Площадь: 10-30 м²
            li
              .model-format(class="wow fadeInLeft" data-wow-delay="0.3s")
                .model-format_container

                  .model-format__title Street-ритейл
                  .model-format__info
                    |Помещение располагается на первой линии с высоким пешеходным трафиком и отдельным входом.
                  .model-format__square
                    div
                      |Площадь: 15-40 м²