section.photo-section
  .photo-section__wrapper
    .wrapper
      .photo-section__inner
        h2.photo-section__title(class="wow fadeInDown" data-wow-delay="0.3s")
          |Фото 
          span будущего магазина 
          |товаров для парения
        .photo-section__title-info.title-info(class="wow fadeInUp" data-wow-delay="0.3s")
          |Представлены стильные варианты оформления витрин и торговых залов в магазинах сети.
        
        .photo-section__card(class="wow fadeIn" data-wow-delay="0.3s")
          ul
            li
              .photo-card.photo-card--1
                .photo-card__image
                   img(src="images/photo-card-1.png" loading="lazy" alt="image" width="24" height="24").d-block
                .photo-card__title
                  div
                    |Остров или корнер в ТЦ
                    br
                    |Площадь: 6-10 кв.м.
                .photo-card__description
                  |Оптимальная площадь при реализации поточного трафика
                  br
                  |ТЦ в условиях повышенного спроса, за счет якорных брендов
            li
              .photo-card.photo-card--2
                .photo-card__image
                   img(src="images/photo-card-2.png" loading="lazy" alt="image" width="24" height="24").d-block
                .photo-card__title
                  div
                    |Павильон в ТЦ
                    br
                    |Площадь: 10-30 кв.м.
                .photo-card__description
                  |Предусмотрено наличие отдельной торговой площади и клиентской зоны, позволяет эффективней обслуживать клиентов
            li
              .photo-card.photo-card--3
                .photo-card__image
                   img(src="images/photo-card-3.jpg" loading="lazy" alt="image" width="24" height="24").d-block
                .photo-card__title
                  div
                    |Торговый павильон
                    br
                    |Площадь: 10-25 кв.м.
                .photo-card__description
                  |Располагается возле места для посадки и высадки пассажиров городского маршрутного транспорта
            li
              .photo-card.photo-card--4
                .photo-card__image
                   img(src="images/photo-card-4.jpeg" loading="lazy" alt="image" width="24" height="24").d-block
                .photo-card__title
                  div
                    |Street-ритейл
                    br
                    |Площадь: 15-40 кв.м.
                .photo-card__description
                  |Помещение располагается
                  br
                  |на первой линии с высоким пешеходным трафиком
                  br
                  |и отдельным входом
        .photo-section__info(class="wow fadeInDown" data-wow-delay="0.3s")
          |Грамотно расставленные акценты в торговых помещениях помогают привлекать внимание клиентов к товарам и повышать объём продаж.
        .photo-section__container
          .photo-section__btn(class="wow fadeInLeft" data-wow-delay="0.3s")
            .btn
              button(type="submit" data-remodal-target="modal-form-main")
                span Заказать обратный звонок
          .photo-section__btn-info.btn-info(class="wow fadeInRight" data-wow-delay="0.3s")
            div
              |Узнайте, какое помещение будет рентабельным в городе запуска точки
