section.photo-section
  .photo-section__wrapper
    .wrapper
      .photo-section__inner
        h2.photo-section__title
          |Фото 
          span будущего магазина 
          |товаров для парения
        .photo-section__title-info.title-info
          |Представлены стильные варианты оформления витрин и торговых залов в магазинах сети.
        
        .photo-section__card
          ul
            li
              .photo-card.photo-card--1
                .photo-card__info
                  div
                    |г. Омск, проспект 
                    br
                    |Комарова, 6 к1 остров в 
                    br
                    |​Маяк МОЛЛ
            li
              .photo-card.photo-card--2
                .photo-card__info
                  div
                    |г. Москва,  Ленинградский проспект, 76А павильон ТЦ МетроМаркет
            li
              .photo-card.photo-card--3
                .photo-card__info
                  div
                    |Адрес адрес адрес адрес адрес адрес адрес
            li
              .photo-card.photo-card--4
                .photo-card__info
                  div
                    |Адрес адрес адрес адрес адрес адрес адрес
        .photo-section__info
          |Грамотно расставленные акценты в торговых помещениях помогают привлекать внимание клиентов к товарам и повышать объём продаж.
        .photo-section__container
          .photo-section__btn
            .btn
              button(type="submit")
                span Скачать презентацию
          .photo-section__btn-info.btn-info
            div
              |Узнайте, какое помещение будет рентабельным в городе запуска точки
