section.photo-section
  .photo-section__wrapper
    .wrapper
      .photo-section__inner
        h2.photo-section__title(class="wow fadeInDown" data-wow-delay="0.3s")
          |Фото 
          span будущего магазина 
          |товаров для парения
        .photo-section__title-info.title-info(class="wow fadeInUp" data-wow-delay="0.3s")
          |Представлены стильные варианты оформления витрин и торговых залов в магазинах сети.
        
        .photo-section__card(class="wow fadeIn" data-wow-delay="0.3s")
          ul
            li
              .photo-card.photo-card--1
                .photo-card__info
                  div
                    |г. Омск, проспект 
                    br
                    |Комарова, 6 к1 остров в 
                    br
                    |​Маяк МОЛЛ
            li
              .photo-card.photo-card--2
                .photo-card__info
                  div
                    |г. Москва,  Ленинградский проспект, 76А павильон ТЦ МетроМаркет
            li
              .photo-card.photo-card--3
                .photo-card__info
                  div
                    |Адрес адрес адрес адрес адрес адрес адрес
            li
              .photo-card.photo-card--4
                .photo-card__info
                  div
                    |Адрес адрес адрес адрес адрес адрес адрес
        .photo-section__info(class="wow fadeInDown" data-wow-delay="0.3s")
          |Грамотно расставленные акценты в торговых помещениях помогают привлекать внимание клиентов к товарам и повышать объём продаж.
        .photo-section__container
          .photo-section__btn(class="wow fadeInLeft" data-wow-delay="0.3s")
            .btn
              button(type="submit" data-remodal-target="modal-form-main")
                span Скачать презентацию
          .photo-section__btn-info.btn-info(class="wow fadeInRight" data-wow-delay="0.3s")
            div
              |Узнайте, какое помещение будет рентабельным в городе запуска точки
