section.thanks-section
  .wrapper
    h1.thanks-section__title(data-thanks-title)
      span [Имя],
      | благодарим вас за обращение в компанию Ornamental Premium
      span.copyright ©

    .thanks-section__inner
      .thanks-section__description
        | Для обсуждения сотрудничества мы свяжемся с Вами в ближайшее время.