extends ../layouts/base
include ../components/Icon
include ../components/Header
include ../components/Footer
include ../components/Connection
include ../components/Index
block body
  .page
    .page__header
    .page__content.page__content--index1
      block content

    .page__footer
      +footer('', true)
block dev-scripts
  script(src="js/main.js")
  script(src="js/slider-support.js")