extends ../layouts/default.pug

block content
  include ../components/MainSection
  include ../components/ModelSection
  include ../components/PhotoSection
  include ../components/CitySection
  include ../components/DemandSection
  include ../components/AssortmentSection
  include ../components/SupportSection
  include ../components/StagesSection
  include ../components/FinanceSection
  include ../components/ProfitSection
  include ../components/CooperationSection
