@font-face
  font-family: "Geometria-Light"
  src: url('../fonts/Geometria-Light.woff'), url('../fonts/Geometria-Light.woff2')
  font-display: swap
@font-face
  font-family: "Geometria-Regular"
  src: url('../fonts/Geometria-Regular.woff'), url('../fonts/Geometria-Regular.woff2')
  font-display: swap
@font-face
  font-family: "Geometria-Medium"
  src: url('../fonts/Geometria-Medium.woff'), url('../fonts/Geometria-Medium.woff2')
  font-display: swap
@font-face
  font-family: "Geometria-Bold"
  src: url('../fonts/Geometria-Bold.woff'), url('../fonts/Geometria-Bold.woff2')
  font-display: swap

@font-face
  font-family: 'als_rublregular';
  src: url('../fonts/rouble-webfont.woff2') format('woff2'), url('../fonts/rouble-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@import 'common/variables'
@import 'common/*'
@import 'components/*'

.page
  display: flex
  flex-direction: column
  min-height: 100%
  &--thanks
    background-color: #010B1C;
    background-image: url('../images/thanks-section-bg.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    position relative
    z-index 1
    overflow: hidden
    .footer
      &__row
        padding: 33px 0
        +above($breakpoints.lg)
          padding: 53px 0
    .connection
      &__description
        font-size: 13px
        line-height: 14px
        +above($breakpoints.sm)
          font-size: 14px
          line-height: 16px
          margin-left: 16px

  &__content
    flex: 1
    &--layout
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
