.demand-section
  background-color: #010B1C
  position relative
  z-index 1
  overflow: unset
  &:before
    content: ""
    position: absolute
    width 100%
    height: 128%
    z-index -1
    pointer-events: none
    background-image: url('../images/decor-dots-1.svg'),
      url('../images/decor-dots-3.svg')
    background-repeat: no-repeat
    background-size: 268px 116px, 50px 106px;
    background-position-y: -34px, 1102px;
    background-position-x: calc(0% - 154px), calc(100% - 7px);
    +above($breakpoints.sm)
      background-size: 268px 116px, 95px 214px;
      background-position-y: -34px, 650px;
      background-position-x: calc(0% - 154px), calc(100% - 7px);
    +above($breakpoints.lg)
      background-size: 379px 181px, 179px 303px;
      background-position-y: -36px, 678px;
      background-position-x: calc(0% - 186px), calc(100% - -22px);
    +above($breakpoints.xxl)
      background-position-y: -36px, 747px;
    +above($breakpoints.xxxxxl)
      background-size: 572px 264px, 264px 572px;
      background-position-y: -36px, 596px;
      background-position-x: calc(0% - 233px), calc(100% - -10px);
  .wrapper
    +above($breakpoints.lg)
      max-width: 1190px
  &__wrapper
    overflow: hidden
  &__inner
    padding: 50px 0 40px 0
    +above($breakpoints.lg)
      padding: 61px 0 59px 0
  &__title
    margin-bottom: 19px
  &__title-info
    max-width: 1100px
    margin: 0 auto 37px auto
    text-align: center
  &__slider
    padding-bottom: 31px
  &__slider-inner
    margin: 0 0 36px 0
    position: relative
    +above($breakpoints.sm)
      margin: 0 0 46px 0
    +above($breakpoints.xxl)
      margin: 0 0 59px 0
  &__slider-list
    position: relative
    max-width: 280px
    min-height: 458px
    +above($breakpoints.sm)
      min-height: 386px
      max-width: 690px
      margin: 0 auto
      margin-left: 10px
      min-height: 340px
    +above($breakpoints.lg)
      margin: 0 auto
      max-width: 984px
    +above($breakpoints.xxl)
      min-height: 412px
      max-width: 1164px
  &__slider-list-item
    position: absolute
    width 100%
    z-index 19
    transform: translate3d(0px, 44px, 0px) scale(0.89)
    opacity: 0.51;
    filter: blur(1.78007px) drop-shadow(0px 3.56014px 3.56014px rgba(0, 0, 0, 0.25));
    transition: transform 0.6s, opacity 0.9s, filter 1.3s
    +above($breakpoints.sm)
      transform: translate3d(0px, 50px, 0px) scale(0.89)
    +above($breakpoints.lg)
      transform: translate3d(0px, 62px, 0px) scale(0.89)
    +above($breakpoints.xxl)
      transform: translate3d(0px, 80px, 0px) scale(0.89)
    &.active
      z-index 20
      transform: translate3d(0px, 0px, 0px) scale(1)
      opacity: 1
      filter: none
      transition: transform 0.7s, opacity 0.2s, filter 0s
  &__slider-arrow
    position: absolute
    right -8px
    height: 115px
    top: 0
    bottom: 0
    margin: auto 0
    display: flex
    flex-direction: column
    justify-content: space-between
    +above($breakpoints.sm)
      right 15px
    +above($breakpoints.lg)
      right 40px
    +above($breakpoints.xxl)
      right -70px
    .arrow
      width 26px
      height: 26px
      display: flex
      justify-content: center
      align-items: center
      border: 1px solid #6C4EE7;
      border-radius: 100%
      cursor: pointer
      -webkit-tap-highlight-color: transparent;
      &:hover
        background-color: #6C4EE7;
  &__slider-arrow-prev
    svg
      margin: 0 0 0 1px
  &__slider-arrow-next
    transform: rotate(180deg)
    svg
      margin: 0 0.5px 2px 0
  &__slider-info
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    max-width: 720px
    margin: 0 auto 44px auto
    +above($breakpoints.lg)
      max-width: 1169px
      margin: 0 auto 44px auto
      font-size: 16px;
      line-height: 20px;
  &__container
    max-width: 774px
    margin: 0 auto
    +above($breakpoints.sm)
      display: flex
      justify-content: center
    +above($breakpoints.xxl)
      max-width: 774px
  &__btn
    max-width: 240px
    width 100%
    height: 52px
    margin: 0 auto 20px auto
    +above($breakpoints.sm)
      margin: 0
      margin-right: 18px
      max-width: 238px
      height: 58px
    +above($breakpoints.lg)
      max-width: 345px
      width 100%
      height: 78px
      margin-right: 18px
  &__btn-info
    &:before
      background-color: #161f2f 
    div
      max-width: 275px
      font-size: 13px;
      line-height: 17px;
      +above($breakpoints.sm)
        max-width: 351px
        font-size: 14px;
        line-height: 19px;
      +above($breakpoints.lg)
        max-width: 389px
        font-size: 16px;
        line-height: 20px;
.demand-slide
  filter: drop-shadow(0px 4.49421px 4.49421px rgba(0, 0, 0, 0.25));
  background-color: #091E41;
  border-radius: 30px;
  padding: 22px 10px
  min-height: 458px
  text-align: center
  +above($breakpoints.sm)
    text-align: left
    background-repeat: no-repeat
    background-position: left
    background-position-x: -25px
    min-height: 340px
  +above($breakpoints.lg)
    background-position-x: 0
    padding: 34px
  +above($breakpoints.xxl)
    min-height: 413px
    padding: 47px
  &--1
    +above($breakpoints.sm)
      background-image: url('../images/demand-slider-img-1.png')
      background-size: 282px auto
    +above($breakpoints.xxl)
      background-size: 341px auto
  &--2
    +above($breakpoints.sm)
      background-image: url('../images/demand-slider-img-2.png')
      background-size: 272px auto
    +above($breakpoints.xxl)
      background-size: 331px auto
    .demand-slide__info
      max-width: 450px
      +above($breakpoints.xxl)
        max-width: 496px
  &__container
    max-width: 393px
    margin: 0 0 0 auto
    +above($breakpoints.lg)
      max-width: 598px
    +above($breakpoints.xxl)
      max-width: 675px
  &__title
    font-size: 20px;
    line-height: 26px;
    font-family: "Geometria-Bold"
    text-transform: uppercase;
    margin-bottom: 16px
    +above($breakpoints.lg)
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 19px
    +above($breakpoints.xxl)
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 29px
  &__info
    font-size: 13px;
    line-height: 17px;
    +above($breakpoints.lg)
      font-size: 15px;
      line-height: 19px;
    +above($breakpoints.xxl)
      font-size: 17px;
      line-height: 21px;
    div
      margin-bottom: 14px
      +above($breakpoints.xxl)
        margin-bottom: 20px
      &:last-child
        margin-bottom: 0
    br
      display: none
      +above($breakpoints.lg)
        display: block
